# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
.terraform.lock.hcl

# AWS
*.pem
.aws/

# Node
node_modules/
dist/
*.log

# Python
__pycache__/
*.pyc
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
